// main: style.less

.articles-grid {
    position: relative;
    width: 100%;

    .article-card-container {
        width: 33.33%;
        padding: 20px;
        box-sizing: border-box;

        .article-card {
            display: block;
            color: @light_main_wrap_color;
            width: 100%;
            height: 100%;

            .featured-image {
				display: block;
                width: 100%;
                height: 200px;
                border-radius: 4px;
            }

            .article-metadatas {
                padding: 25px 20px;
				text-align: center;

				.categories {
					display: inline-block;
					margin-bottom: 10px;
					text-transform: uppercase;
					font-size: 12px;

					a {
						color: @light_main_wrap_secondary_color;

						&:hover {
							color: @light_main_wrap_color;
						}
					}
				}

                .post-title {
					display: block;
                    margin: 0;
					font-weight: 300;
					text-transform: uppercase;
					font-weight: 600;
					letter-spacing: 1px;
					font-size: 1.35em;
					color: @light_main_wrap_color;
                }

                .photos-count {
                    font-size: 11px;
                    opacity: .6;
                    text-transform: uppercase;
                    margin-top: 5px;
                    font-weight: 300;
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        .article-card-container {
            width: 50%;
        }
    }

    @media screen and (max-width: 660px) {
        .article-card-container {
            width: 100%;
        }
    }
}

.entry-content {
	font-size: 18px;
	line-height: 30px;

	p:first-of-type {

		&:first-child:first-letter {
			float: left;
			font-family: Georgia, serif;
			font-size: 48px;
			line-height: 48px;
			padding-top: 0px;
			padding-right: 8px;
			padding-left: 3px;
		}
	}

	figure.wp-block-image {

		img {
			width: 100%;
			height: auto;
		}

		&.jumbo {
			width: 120%;
			margin-left: -10%;
		}

		&.alignleft.overflow {
			margin-left: -10%;
		}
	}
}

.post-navigation-container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;

    .previous-post-container {
        position: relative;
        flex: 1;
        width: 50%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        box-sizing: border-box;
        overflow: hidden;
        flex-wrap: wrap;

    }

    .next-post-container {
        position: relative;
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        padding-right: 20px;
        box-sizing: border-box;
        overflow: hidden;
        flex-wrap: wrap;
        
    }

    .background {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        filter: brightness(.7);
    }

    .top-label {
        position: relative;
        text-transform: uppercase;
        color: white;
        font-size: 12px;
        font-weight: 600;
    }

    h3 {
        position: relative;
        text-transform: uppercase;
        color: white;
        margin: 0;
        margin-top: 10px;
    }
}

.comments-section {
	padding: 60px 0;

    // Comments list
    #comments {

        ol, ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ol.comment-list {
            list-style: none;
            padding: 0;
            margin: 0;

            .comment {
                position: relative;
                background: @comment_background;
                box-shadow: 0px 0px 1px @comments_border;
                padding: 20px;
                margin-bottom: 20px;

                &.bypostauthor {
                    border-left: 3px solid @theme_color;
                }

                .comment-header {

                    .comment-author-profil-picture {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        vertical-align: middle;
                    }

                    .comment-meta {
                        display: inline-block;
                        padding-left: 10px;
                        vertical-align: middle;
                        font-style: italic;
                        font-weight: 300;
                        letter-spacing: 1px;
                        text-align: left;

                        .posted-on {
                            font-size: 14px;
                        }
                    }
                }

                .comment-content {

                    p {
                        margin-bottom: 0;
                        letter-spacing: 1.29px;
                    }
                }

                .reply-link {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }

            ol.children {
                margin-left: 40px;

                ol.children {
                    margin-left: 0;
                }
            }
        }
    }

    hr {
        margin: 40px 0;
    }

    // Comment Form
    .comment-form {
        text-align: center;

        .comment-notes {
            display: none;
        }

        p {
            display: block;
            line-height: 0;
            margin: 0;
        }

        textarea {
            font-family: @lato;
            border: 0;
            border-radius: 0;
            border: .5px solid @comments_border;
            border-bottom: none;
            padding: 20px;
            letter-spacing: 1.29px;
            margin-bottom: 0px;
            background: @comment_background;
            color: @comment_textarea_color;
        }

        textarea:focus, input:focus {
            outline: none;
        }

        .user-infos {
            display: flex;
            max-width: 100%;
            width: 100%;
            flex-direction: row;

            input {
                min-width: 25%;
                border: 0;
                border-radius: 0;
                border: .5px solid @comments_border;
                border-left: none;
                padding: 10px 20px;
                letter-spacing: 1.29px;
                flex-grow: 1;
                background: @comment_background;
            }

            .submit-button {
                width: 100%;
                margin: 0 auto;
                border: .5px solid @comments_border;
                box-shadow: none;
            }
        }

        #submit {
            display: none;
        }

        .submit-button {
            border-radius: 0;
            display: block;
            cursor: pointer;
            display: inline-block;
            padding: 10px 20px;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 3px;
            color: white !important;
            transition: .1s;
            background: @theme_color;
            border: 2px solid @theme_color;
            box-shadow: 0px 0px 1px #CCC;

            &:hover {
                background: darken(@theme_color, 10%);
                transition: .2s;
            }
        }
    }
}
