// main: style.less

.main-wrap-top-bar {
    position: relative;
    z-index: 9;

    .search-filter {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        line-height: 30px;
        margin-right: 10px;
        border-bottom: 2px solid transparent;

        i {
            cursor: pointer;
            color: @collections_page_top_bar_default_color;

            &:hover {
                color: @collections_page_top_bar_active_color;
            }
        }

        .search-field {
            display: inline-block;
            margin-left: 10px;
            background: none;
            border: none;
            outline: none;
            color: @collections_page_top_bar_active_color;
            font-size: 16px;
            font-family: inherit;
            font-weight: 300;
            line-height: 30px;
            width: 0px;
            transition: .2s;
        }

        &.active {
            border-bottom: 2px solid @theme_color;
            transition: .2s;

            i {
                color: @theme_color;
                opacity: 1;
            }

            .search-field {
                display: inline-block;
                width: 150px;
                transition: .2s;
            }
        }
    }

    .folders-navigation {
        display: inline-block;

        li {
            position: relative;
            display: inline-block;
            margin: 0 10px;
            padding: 0;	
            color: @collections_page_top_bar_default_color;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;	
            cursor: pointer;
            border-bottom: 2px solid transparent;

            &:hover {
                color: @collections_page_top_bar_active_color;
            }

            &.active {
                color: @theme_color;
                opacity: 1;
                border-bottom: 2px solid @theme_color;
                transition: .2s;
            }

            &.parent-folder {
                opacity: 1;

                &:hover {
                    opacity: 1;

                    .subfolders-container {
                        display: block;
                    }
                }

                .subfolders-container {
                    display: none;
                    left: 0;
                    position: absolute;
                    margin: 0;
                    padding: 10px 20px;
                    padding-bottom: 13px;
                    background: @collections_page_top_bar_submenu_background;
                    width: auto;
                    max-width: none;
                    border-radius: 8px;
                    box-shadow: 0 0 2px rgba(0,0,0,.4);

                    li {
                        color: @collections_page_top_bar_submenu_default_color;

                        &:hover {
                            color: @collections_page_top_bar_submenu_active_color;
                        }

                        &.active {
                            color: @theme_color;
                        }
                    }
                }
            }
        }
    }

    .order-by-filter {
        position: relative;
        float: right;
        color: @collections_page_top_bar_default_color;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;	
        cursor: pointer;

        .fixed-color {
            color: @collections_page_top_bar_default_color !important;
        }

        &:hover {
            color: @collections_page_top_bar_active_color;

            .order-by-select {
                display: block;
            }
        }

        .order-by-select {
            display: none;
            right: 0;
            position: absolute;
            margin: 0;
            padding: 10px 20px;
            padding-bottom: 13px;
            background: @collections_page_top_bar_submenu_background;
            width: auto;
            max-width: none;
            border-radius: 8px;
            box-shadow: 0 0 2px rgba(0,0,0,.4);
            
            li {
                white-space: nowrap;
                list-style: none;
                text-align: right;
                color: @collections_page_top_bar_submenu_default_color;

                &:hover {
                    color: @collections_page_top_bar_submenu_active_color;
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        .order-by-filter  {
            display: block;
        }

        .search-filter {
            padding-left: 10px;
        }

        .folders-navigation {
            position: relative;
            z-index: 9;

            li {
                margin: 0 5px;
            }
        }

        .order-by-filter {
            position: relative;
            z-index: 0;
            float: none;
            text-align: left;
            padding-left: 10px;
            margin-top: 10px;

            .order-by-select {
                left: 0;
                right: auto;

                li {
                    text-align: left;
                }

            }
        }
    }

    @media screen and (max-width: 660px) {
        .search-filter, .folders-navigation {
            display: block;
        }
    }
}

.collections-grid {
    position: relative;
    width: 100%;
    padding: 30px 0;

    .collection-card-container {
        width: 25%;
        padding: 10px;
        box-sizing: border-box;

        .collection-card {
            display: block;
            color: @collections_grid_card_color;
            cursor: pointer;
            width: 100%;
            height: 100%;
            background: @collections_grid_card_background;
            box-shadow: 0 1px 2px rgba(0,0,0,.4);
            border-radius: 8px;
            transition: .2s;

            &.light-bg {
                color: @light_main_wrap_color;
            }

            &:hover {
                box-shadow: 0 1Px 8px rgba(0,0,0,.6);
                transition: .2s;
            }

            .featured-image {
                width: 100%;
                height: 120px;
                border-radius: 8px 8px 0 0;
            }

            .collection-metadatas {
                padding: 25px 20px;

                h3 {
                    margin: 0;
                    font-weight: 300;
                }

                .photos-count {
                    font-size: 11px;
                    opacity: .6;
                    text-transform: uppercase;
                    margin-top: 5px;
                    font-weight: 300;
                }
            }
        }
    }

    @media screen and (max-width: 960px) {

        .collection-card-container {
            width: 33.33%;
        }
    }

    @media screen and (max-width: 660px) {

        .collection-card-container {
            width: 50%;
        }
    }

    @media screen and (max-width: 560px) {

        .collection-card-container {
            width: 100%;
        }
    }
}