// main: style.less

.site-footer {
    padding: 60px 0;
    width: 100%;
    background: @footer_background;

    .footer-widget-area {
        width: 100%;
        background: @footer_widget_area_background;
        display: flex;
        flex-direction: row;
    
        .widget-column {
            flex: 1;
            padding: 0 20px;
            box-sizing: border-box;
        }

        @media screen and (max-width: 760px) {
            display: block;
        }
    
        .widget {
    
            .widget-title {
                color: @widget_title_color;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }
    
            ul {
                padding: 0;
                margin: 0;
                padding-left: 20px;
            }

            li {
                color: @widget_link_default_color;
                margin-bottom: 10px;
                font-weight: 300;
    
                a {
                    color: @widget_link_default_color;

                    &:hover {
                        color: @widget_link_hover_color;
                    }
                }
            }
    
            p {
                font-family: @lato;
                color: #777;
                line-height: 1.5em;
            }
    
            &.widget_search {
    
                .search-form {
                    display: flex;
                    flex-direction: row;
                    font-size: 0;
                    text-align: center;

                    label {
                        flex: 1;

                        .search-field {
                            width: 100%;
                            font-family: @lato;
                            display: inline-block;
                            padding: 5px 10px;
                            border-radius: 0;
                            background: none;
                            border: 2px solid white;
                            border-right: none;
                            color: white;
                            vertical-align: top;
                            font-size: 16px;
        
                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .search-submit {
                        flex:1;
                        max-width: 75px;
                        font-family: @lato;
                        display: inline-block;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 0;
                        background: white;
                        border: 2px solid white;
                        color: #4A4A4A;
                        font-family: sans-serif;
                        font-size: 14px;
                        letter-spacing: 1px;
                        line-height: 1.5em;
                        vertical-align: top;
                    }
                }
            }
    
            &.widget_tag_cloud {
    
                a {
                    font-size: .9em !important;
                    display: inline-block;
                    padding: 5px 10px;
                    border: 1px solid @theme_color;
                    color: @theme_color;
                    border-radius: 4px;
                    margin: 2px 0;

                    &:hover {
                        background: @theme_color;
                        color: white;
                    }
                }
            }
        }
    }

    .footer-credits {
        text-align: center;
        margin-top: 30px;

        .social-networks {
            margin-top: 10px;

            i {
                font-size: 22px;
                margin: 5px;
            }
        }
    }
}