// main: style.less

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: @body_font_family;
	background: @body_background;
	color: white;
}

a, a:visited {
	text-decoration: none;
	color: @link_default_color;
}

a:hover {
	color: @link_hover_color;
}

.main-wrap {
	width: 100%;
	padding: 40px 0;

	&.light {
		background: @light_main_wrap_background;
		color: @light_main_wrap_color;
	}
}

.container {
	width: 100%;
	max-width: 960px;
	margin: auto;

	&.large {
		max-width: 1060px;
	}

	&.flex-row {
		display: flex;
		flex-direction: row;
	}

	@media screen and (max-width: 1060px ) {
		padding: 0 20px;
	}

	@media screen and (max-width: 960px ) {
		padding: 0 10px;
	}
}

::-webkit-scrollbar              { 
	position: fixed;
	width: 10px;
	background: rgba(255,255,255,.1);
}

::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { 
	
}
::-webkit-scrollbar-track-piece  { 

}
::-webkit-scrollbar-thumb        { 
	background: rgba(0,0,0,1);
 }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }