// main: style.less
.top-bar {
	position: relative;
	z-index: 9;
	width: 100%;
	height: @top_bar_height;
	line-height: @top_bar_height;
	background: @top_bar_background;
	overflow: hidden;

	.site-brand {
		color: @top_bar_active_color;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 3.75px;
		font-size: 20px;
	}

	.site-navigation {
		flex: 1;
		margin-left: 30px;
		
		.small-screen-menu-trigger {
			display: none;
			list-style: none;
			cursor: pointer;
			color: @top_bar_default_color;
			font-size: 12px;
			line-height: @top_bar_height;
			letter-spacing: 1px;
			text-transform: uppercase;

			&:hover {
				color: @top_bar_active_color;
			}
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin: 0 10px;
				padding: 0;

				a {
					color: @top_bar_default_color;
					font-size: 12px;
					letter-spacing: 1px;
					text-transform: uppercase;

					&:hover {
						color: @top_bar_active_color;
					}
				}

				&.current-menu-item {
					font-weight: 600;
					
					a {
						color: @top_bar_active_color;
					}
				}
			}
		}
	}

	.site-search {
		flex: 1;
		align-self: end;
		text-align: right;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        margin-right: 10px;

        i {
            cursor: pointer;
            color: @top_bar_default_color;

            &:hover {
                color: @top_bar_active_color;
            }
        }


        .search-field {
            display: inline-block;
            margin-left: 10px;
            background: none;
            border: none;
            outline: none;
            color: @top_bar_active_color;
            font-size: 16px;
            font-family: inherit;
            font-weight: 300;
            line-height: 30px;
            width: 0px;
			transition: .2s;
        }

        &.active {

            i {
                color: @theme_color;
                opacity: 1;
            }

            .search-field {
				display: inline-block;
                width: 150px;
                transition: .2s;
            }
        }
	}

	@media screen and (max-width: 960px) {
		.site-navigation {
			.small-screen-menu-trigger {
				display: block;
			}
		}
	}
}

.small-screen-menu {
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: @small_screen_menu_background;
	display: none;
	align-items: center;
	justify-content: center;

	&.visible {
		display: flex;
	}

	.close-small-screen-menu {
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 20px;
		cursor: pointer;
		font-size: 24px;
		color: @small_screen_menu_default_color;

		&:hover {
			color: @small_screen_menu_active_color;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			
			a {
				font-size: 32px;
				text-transform: uppercase;
				color: @small_screen_menu_default_color;

				&:hover {
					color: @small_screen_menu_active_color;
				}
			}
		}
	}
}

.header {
	position: relative;
	width: 100%;
	height: @header_height;
	overflow: hidden;

	.background, .background-filter {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.background {
		margin-top: -@top_bar_height;
		height: ~"calc(100% + 80px)";
	}

	.background-filter {
		background: @header_gradient_filter;
	}

	.header-title {
		position: absolute;
		width: 100%;
		bottom: 30px;

		h1 {
			font-weight: 100;
			color: @header_title_color;
		}
	}
}