// main: style.less

// Colors
@theme_color: #F5A623;
@link_default_color: #C1C1C3;
@link_hover_color: white;

// Font-families
@lato: 'Lato', sans-serif;

// BODY
@body_background: #1D212C;
@body_font_family: @lato;

// MAIN WRAP
@light_main_wrap_background: #F8F8FB;
@light_main_wrap_color: #4A4A4A;
@light_main_wrap_secondary_color: #C1C1C3;

// TOP BAR
@top_bar_height: 80px;
@top_bar_background: #1D212C;
@top_bar_active_color: white;
@top_bar_default_color: #C1C1C3;

// SMALL SCREEN MENU
@small_screen_menu_background: rgba(17, 17, 17, 0.9);
@small_screen_menu_default_color: #C1C1C3;
@small_screen_menu_active_color: white;

// HEADER
@header_height: 200px;
@header_gradient_filter: linear-gradient(to top, #1D212C, rgba(29, 33, 44, 0.8));
@header_title_color: white;

// COLLECTIONS PAGE TOP BAR
@collections_page_top_bar_active_color: white;
@collections_page_top_bar_default_color: #C1C1C3;
@collections_page_top_bar_submenu_background: rgba(0,0,0,.9);
@collections_page_top_bar_submenu_default_color: #C1C1C3;
@collections_page_top_bar_submenu_active_color: white;

// COLLECTIONS PAGE COLLECTIONS GRID
@collections_grid_card_background: rgba(255,255,255,.1);
@collections_grid_card_color: white;

// COMMENTS SECTION
@comment_background: rgba(255,255,255,.1);
@comments_border: 1px solid red;
@comment_textarea_color: white;

// FOOTER
@footer_background: #0f1014;
@footer_widget_area_background: @footer_background;
@widget_title_color: white;
@widget_link_default_color: #C1C1C3;
@widget_link_hover_color: white;
