/*
Theme Name: Kurayami
Author: MeowApps
Description: Organize and display your photos beautifully.
Version: 0.0.1
*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
p {
  margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
big {
  font-size: 125%;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}
select {
  border: 1px solid #ccc;
}
textarea {
  width: 100%;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus,
a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}
@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 1.5em;
}
.alignright {
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}
.hentry {
  margin: 0 0 1.5em;
}
.updated:not(.published) {
  display: none;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}
/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  text-align: center;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background: #1D212C;
  color: white;
}
a,
a:visited {
  text-decoration: none;
  color: #C1C1C3;
}
a:hover {
  color: white;
}
.main-wrap {
  width: 100%;
  padding: 40px 0;
}
.main-wrap.light {
  background: #F8F8FB;
  color: #4A4A4A;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}
.container.large {
  max-width: 1060px;
}
.container.flex-row {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1060px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    padding: 0 10px;
  }
}
::-webkit-scrollbar {
  position: fixed;
  width: 10px;
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-button {
  /* 2 */
}
::-webkit-scrollbar-thumb {
  background: #000000;
}
::-webkit-scrollbar-corner {
  /* 6 */
}
::-webkit-resizer {
  /* 7 */
}
.top-bar {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #1D212C;
  overflow: hidden;
}
.top-bar .site-brand {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3.75px;
  font-size: 20px;
}
.top-bar .site-navigation {
  flex: 1;
  margin-left: 30px;
}
.top-bar .site-navigation .small-screen-menu-trigger {
  display: none;
  list-style: none;
  cursor: pointer;
  color: #C1C1C3;
  font-size: 12px;
  line-height: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top-bar .site-navigation .small-screen-menu-trigger:hover {
  color: white;
}
.top-bar .site-navigation ul {
  margin: 0;
  padding: 0;
}
.top-bar .site-navigation ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}
.top-bar .site-navigation ul li a {
  color: #C1C1C3;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.top-bar .site-navigation ul li a:hover {
  color: white;
}
.top-bar .site-navigation ul li.current-menu-item {
  font-weight: 600;
}
.top-bar .site-navigation ul li.current-menu-item a {
  color: white;
}
.top-bar .site-search {
  flex: 1;
  align-self: end;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 10px;
}
.top-bar .site-search i {
  cursor: pointer;
  color: #C1C1C3;
}
.top-bar .site-search i:hover {
  color: white;
}
.top-bar .site-search .search-field {
  display: inline-block;
  margin-left: 10px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-family: inherit;
  font-weight: 300;
  line-height: 30px;
  width: 0px;
  transition: .2s;
}
.top-bar .site-search.active i {
  color: #F5A623;
  opacity: 1;
}
.top-bar .site-search.active .search-field {
  display: inline-block;
  width: 150px;
  transition: .2s;
}
@media screen and (max-width: 960px) {
  .top-bar .site-navigation .small-screen-menu-trigger {
    display: block;
  }
}
.small-screen-menu {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
}
.small-screen-menu.visible {
  display: flex;
}
.small-screen-menu .close-small-screen-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #C1C1C3;
}
.small-screen-menu .close-small-screen-menu:hover {
  color: white;
}
.small-screen-menu ul {
  margin: 0;
  padding: 0;
}
.small-screen-menu ul li {
  list-style: none;
}
.small-screen-menu ul li a {
  font-size: 32px;
  text-transform: uppercase;
  color: #C1C1C3;
}
.small-screen-menu ul li a:hover {
  color: white;
}
.header {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.header .background,
.header .background-filter {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header .background {
  margin-top: -80px;
  height: calc(100% + 80px);
}
.header .background-filter {
  background: linear-gradient(to top, #1D212C, rgba(29, 33, 44, 0.8));
}
.header .header-title {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
.header .header-title h1 {
  font-weight: 100;
  color: white;
}
.fullpage-loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1D212C;
  display: none;
  align-items: center;
  justify-content: center;
}
.fullpage-loader.visible {
  display: flex;
}
.fullpage-loader .sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.fullpage-loader .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.fullpage-loader .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.fullpage-loader .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.fullpage-loader .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fullpage-loader .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.fullpage-loader .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.fullpage-loader .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.fullpage-loader .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.fullpage-loader .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.fullpage-loader .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.articles-grid {
  position: relative;
  width: 100%;
}
.articles-grid .article-card-container {
  width: 33.33%;
  padding: 20px;
  box-sizing: border-box;
}
.articles-grid .article-card-container .article-card {
  display: block;
  color: #4A4A4A;
  width: 100%;
  height: 100%;
}
.articles-grid .article-card-container .article-card .featured-image {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.articles-grid .article-card-container .article-card .article-metadatas {
  padding: 25px 20px;
  text-align: center;
}
.articles-grid .article-card-container .article-card .article-metadatas .categories {
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.articles-grid .article-card-container .article-card .article-metadatas .categories a {
  color: #C1C1C3;
}
.articles-grid .article-card-container .article-card .article-metadatas .categories a:hover {
  color: #4A4A4A;
}
.articles-grid .article-card-container .article-card .article-metadatas .post-title {
  display: block;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.35em;
  color: #4A4A4A;
}
.articles-grid .article-card-container .article-card .article-metadatas .photos-count {
  font-size: 11px;
  opacity: .6;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .articles-grid .article-card-container {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .articles-grid .article-card-container {
    width: 100%;
  }
}
.entry-content {
  font-size: 18px;
  line-height: 30px;
}
.entry-content p:first-of-type:first-child:first-letter {
  float: left;
  font-family: Georgia, serif;
  font-size: 48px;
  line-height: 48px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 3px;
}
.entry-content figure.wp-block-image img {
  width: 100%;
  height: auto;
}
.entry-content figure.wp-block-image.jumbo {
  width: 120%;
  margin-left: -10%;
}
.entry-content figure.wp-block-image.alignleft.overflow {
  margin-left: -10%;
}
.post-navigation-container {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
}
.post-navigation-container .previous-post-container {
  position: relative;
  flex: 1;
  width: 50%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
}
.post-navigation-container .next-post-container {
  position: relative;
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
}
.post-navigation-container .background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
}
.post-navigation-container .top-label {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.post-navigation-container h3 {
  position: relative;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-top: 10px;
}
.comments-section {
  padding: 60px 0;
}
.comments-section #comments ol,
.comments-section #comments ul,
.comments-section #comments li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.comments-section #comments ol.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.comments-section #comments ol.comment-list .comment {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 1px 1px solid red;
  padding: 20px;
  margin-bottom: 20px;
}
.comments-section #comments ol.comment-list .comment.bypostauthor {
  border-left: 3px solid #F5A623;
}
.comments-section #comments ol.comment-list .comment .comment-header .comment-author-profil-picture {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.comments-section #comments ol.comment-list .comment .comment-header .comment-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}
.comments-section #comments ol.comment-list .comment .comment-header .comment-meta .posted-on {
  font-size: 14px;
}
.comments-section #comments ol.comment-list .comment .comment-content p {
  margin-bottom: 0;
  letter-spacing: 1.29px;
}
.comments-section #comments ol.comment-list .comment .reply-link {
  position: absolute;
  top: 20px;
  right: 20px;
}
.comments-section #comments ol.comment-list ol.children {
  margin-left: 40px;
}
.comments-section #comments ol.comment-list ol.children ol.children {
  margin-left: 0;
}
.comments-section hr {
  margin: 40px 0;
}
.comments-section .comment-form {
  text-align: center;
}
.comments-section .comment-form .comment-notes {
  display: none;
}
.comments-section .comment-form p {
  display: block;
  line-height: 0;
  margin: 0;
}
.comments-section .comment-form textarea {
  font-family: 'Lato', sans-serif;
  border: 0;
  border-radius: 0;
  border: 0.5px solid 1px solid red;
  border-bottom: none;
  padding: 20px;
  letter-spacing: 1.29px;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.comments-section .comment-form textarea:focus,
.comments-section .comment-form input:focus {
  outline: none;
}
.comments-section .comment-form .user-infos {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-direction: row;
}
.comments-section .comment-form .user-infos input {
  min-width: 25%;
  border: 0;
  border-radius: 0;
  border: 0.5px solid 1px solid red;
  border-left: none;
  padding: 10px 20px;
  letter-spacing: 1.29px;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.1);
}
.comments-section .comment-form .user-infos .submit-button {
  width: 100%;
  margin: 0 auto;
  border: 0.5px solid 1px solid red;
  box-shadow: none;
}
.comments-section .comment-form #submit {
  display: none;
}
.comments-section .comment-form .submit-button {
  border-radius: 0;
  display: block;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  color: white !important;
  transition: .1s;
  background: #F5A623;
  border: 2px solid #F5A623;
  box-shadow: 0px 0px 1px #CCC;
}
.comments-section .comment-form .submit-button:hover {
  background: #db8c0a;
  transition: .2s;
}
.main-wrap-top-bar {
  position: relative;
  z-index: 9;
}
.main-wrap-top-bar .search-filter {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 30px;
  margin-right: 10px;
  border-bottom: 2px solid transparent;
}
.main-wrap-top-bar .search-filter i {
  cursor: pointer;
  color: #C1C1C3;
}
.main-wrap-top-bar .search-filter i:hover {
  color: white;
}
.main-wrap-top-bar .search-filter .search-field {
  display: inline-block;
  margin-left: 10px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-family: inherit;
  font-weight: 300;
  line-height: 30px;
  width: 0px;
  transition: .2s;
}
.main-wrap-top-bar .search-filter.active {
  border-bottom: 2px solid #F5A623;
  transition: .2s;
}
.main-wrap-top-bar .search-filter.active i {
  color: #F5A623;
  opacity: 1;
}
.main-wrap-top-bar .search-filter.active .search-field {
  display: inline-block;
  width: 150px;
  transition: .2s;
}
.main-wrap-top-bar .folders-navigation {
  display: inline-block;
}
.main-wrap-top-bar .folders-navigation li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  color: #C1C1C3;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.main-wrap-top-bar .folders-navigation li:hover {
  color: white;
}
.main-wrap-top-bar .folders-navigation li.active {
  color: #F5A623;
  opacity: 1;
  border-bottom: 2px solid #F5A623;
  transition: .2s;
}
.main-wrap-top-bar .folders-navigation li.parent-folder {
  opacity: 1;
}
.main-wrap-top-bar .folders-navigation li.parent-folder:hover {
  opacity: 1;
}
.main-wrap-top-bar .folders-navigation li.parent-folder:hover .subfolders-container {
  display: block;
}
.main-wrap-top-bar .folders-navigation li.parent-folder .subfolders-container {
  display: none;
  left: 0;
  position: absolute;
  margin: 0;
  padding: 10px 20px;
  padding-bottom: 13px;
  background: rgba(0, 0, 0, 0.9);
  width: auto;
  max-width: none;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.main-wrap-top-bar .folders-navigation li.parent-folder .subfolders-container li {
  color: #C1C1C3;
}
.main-wrap-top-bar .folders-navigation li.parent-folder .subfolders-container li:hover {
  color: white;
}
.main-wrap-top-bar .folders-navigation li.parent-folder .subfolders-container li.active {
  color: #F5A623;
}
.main-wrap-top-bar .order-by-filter {
  position: relative;
  float: right;
  color: #C1C1C3;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.main-wrap-top-bar .order-by-filter .fixed-color {
  color: #C1C1C3 !important;
}
.main-wrap-top-bar .order-by-filter:hover {
  color: white;
}
.main-wrap-top-bar .order-by-filter:hover .order-by-select {
  display: block;
}
.main-wrap-top-bar .order-by-filter .order-by-select {
  display: none;
  right: 0;
  position: absolute;
  margin: 0;
  padding: 10px 20px;
  padding-bottom: 13px;
  background: rgba(0, 0, 0, 0.9);
  width: auto;
  max-width: none;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.main-wrap-top-bar .order-by-filter .order-by-select li {
  white-space: nowrap;
  list-style: none;
  text-align: right;
  color: #C1C1C3;
}
.main-wrap-top-bar .order-by-filter .order-by-select li:hover {
  color: white;
}
@media screen and (max-width: 960px) {
  .main-wrap-top-bar .order-by-filter {
    display: block;
  }
  .main-wrap-top-bar .search-filter {
    padding-left: 10px;
  }
  .main-wrap-top-bar .folders-navigation {
    position: relative;
    z-index: 9;
  }
  .main-wrap-top-bar .folders-navigation li {
    margin: 0 5px;
  }
  .main-wrap-top-bar .order-by-filter {
    position: relative;
    z-index: 0;
    float: none;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
  }
  .main-wrap-top-bar .order-by-filter .order-by-select {
    left: 0;
    right: auto;
  }
  .main-wrap-top-bar .order-by-filter .order-by-select li {
    text-align: left;
  }
}
@media screen and (max-width: 660px) {
  .main-wrap-top-bar .search-filter,
  .main-wrap-top-bar .folders-navigation {
    display: block;
  }
}
.collections-grid {
  position: relative;
  width: 100%;
  padding: 30px 0;
}
.collections-grid .collection-card-container {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.collections-grid .collection-card-container .collection-card {
  display: block;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: .2s;
}
.collections-grid .collection-card-container .collection-card.light-bg {
  color: #4A4A4A;
}
.collections-grid .collection-card-container .collection-card:hover {
  box-shadow: 0 1Px 8px rgba(0, 0, 0, 0.6);
  transition: .2s;
}
.collections-grid .collection-card-container .collection-card .featured-image {
  width: 100%;
  height: 120px;
  border-radius: 8px 8px 0 0;
}
.collections-grid .collection-card-container .collection-card .collection-metadatas {
  padding: 25px 20px;
}
.collections-grid .collection-card-container .collection-card .collection-metadatas h3 {
  margin: 0;
  font-weight: 300;
}
.collections-grid .collection-card-container .collection-card .collection-metadatas .photos-count {
  font-size: 11px;
  opacity: .6;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  .collections-grid .collection-card-container {
    width: 33.33%;
  }
}
@media screen and (max-width: 660px) {
  .collections-grid .collection-card-container {
    width: 50%;
  }
}
@media screen and (max-width: 560px) {
  .collections-grid .collection-card-container {
    width: 100%;
  }
}
.empty-message {
  color: #C1C1C3;
  padding-left: 20px;
  border-left: 2px solid #C1C1C3;
  margin: 40px 0;
}
.site-footer {
  padding: 60px 0;
  width: 100%;
  background: #0f1014;
}
.site-footer .footer-widget-area {
  width: 100%;
  background: #0f1014;
  display: flex;
  flex-direction: row;
}
.site-footer .footer-widget-area .widget-column {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 760px) {
  .site-footer .footer-widget-area {
    display: block;
  }
}
.site-footer .footer-widget-area .widget .widget-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.site-footer .footer-widget-area .widget ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}
.site-footer .footer-widget-area .widget li {
  color: #C1C1C3;
  margin-bottom: 10px;
  font-weight: 300;
}
.site-footer .footer-widget-area .widget li a {
  color: #C1C1C3;
}
.site-footer .footer-widget-area .widget li a:hover {
  color: white;
}
.site-footer .footer-widget-area .widget p {
  font-family: 'Lato', sans-serif;
  color: #777;
  line-height: 1.5em;
}
.site-footer .footer-widget-area .widget.widget_search .search-form {
  display: flex;
  flex-direction: row;
  font-size: 0;
  text-align: center;
}
.site-footer .footer-widget-area .widget.widget_search .search-form label {
  flex: 1;
}
.site-footer .footer-widget-area .widget.widget_search .search-form label .search-field {
  width: 100%;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
  background: none;
  border: 2px solid white;
  border-right: none;
  color: white;
  vertical-align: top;
  font-size: 16px;
}
.site-footer .footer-widget-area .widget.widget_search .search-form label .search-field:focus {
  outline: none;
}
.site-footer .footer-widget-area .widget.widget_search .search-form .search-submit {
  flex: 1;
  max-width: 75px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
  background: white;
  border: 2px solid white;
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5em;
  vertical-align: top;
}
.site-footer .footer-widget-area .widget.widget_tag_cloud a {
  font-size: .9em !important;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #F5A623;
  color: #F5A623;
  border-radius: 4px;
  margin: 2px 0;
}
.site-footer .footer-widget-area .widget.widget_tag_cloud a:hover {
  background: #F5A623;
  color: white;
}
.site-footer .footer-credits {
  text-align: center;
  margin-top: 30px;
}
.site-footer .footer-credits .social-networks {
  margin-top: 10px;
}
.site-footer .footer-credits .social-networks i {
  font-size: 22px;
  margin: 5px;
}
